<h1>All the Fruits!</h1>
<a href="/fruits/new">Create Another Fruit</a>
<ul>
  <% @fruits.each do |fruit| %>
    <li><a href="/fruits/<%= fruit[:id] %>">Name: <%= fruit[:name] %></a></li>
  <% end %>
</ul>